@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
}
.app {
  display: flex;
  position: relative;
}

::-webkit-scrollbar {
  display: none;
}
.fc {
  margin-left: 8%;
  width:60vw;
  min-height: 80vh
}
.fc .fc-prev-primary {
  background-color: red;
  color: red;
}
.space {
  margin-left: 1%;
}
.fc-list-day-text {
  color:  green
}
.fc-list-day-side-text {
  color: green
}


